<!DOCTYPE HTML>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Главная</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"/>
<body>

<header th:insert="blocks/header :: header"></header>

<main>

    <section class="py-5 text-center container" wfd-id="49">
        <div class="row py-lg-5" wfd-id="50">
            <div class="col-lg-6 col-md-8 mx-auto" wfd-id="51">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light" wfd-id="1">
        <div class="container" wfd-id="2">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" wfd-id="3">
                <div class="col" wfd-id="44">
                    <div class="card shadow-sm" wfd-id="45">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="46">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="47">
                                <div class="btn-group" wfd-id="48">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="73">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="72">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="39">
                    <div class="card shadow-sm" wfd-id="40">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="41">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="42">
                                <div class="btn-group" wfd-id="43">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="71">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="70">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="34">
                    <div class="card shadow-sm" wfd-id="35">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="36">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="37">
                                <div class="btn-group" wfd-id="38">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="69">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="68">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" wfd-id="29">
                    <div class="card shadow-sm" wfd-id="30">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="31">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="32">
                                <div class="btn-group" wfd-id="33">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="67">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="66">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="24">
                    <div class="card shadow-sm" wfd-id="25">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="26">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="27">
                                <div class="btn-group" wfd-id="28">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="65">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="64">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="19">
                    <div class="card shadow-sm" wfd-id="20">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="21">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="22">
                                <div class="btn-group" wfd-id="23">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="63">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="62">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" wfd-id="14">
                    <div class="card shadow-sm" wfd-id="15">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="16">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="17">
                                <div class="btn-group" wfd-id="18">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="61">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="60">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="9">
                    <div class="card shadow-sm" wfd-id="10">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="11">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="12">
                                <div class="btn-group" wfd-id="13">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="59">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="58">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" wfd-id="4">
                    <div class="card shadow-sm" wfd-id="5">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body" wfd-id="6">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center" wfd-id="7">
                                <div class="btn-group" wfd-id="8">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="57">View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" wfd-id="56">Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>